/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
     Base styles: opinionated defaults
     ========================================================================== */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
        background: #b3d4fc;
        text-shadow: none;
}

::selection {
        background: #b3d4fc;
        text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
        vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
        resize: vertical;
}

/* ==========================================================================
     Chrome Frame prompt
     ========================================================================== */

.chromeframe {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */


.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center text-align center,
.left {
    float: left;
}
.right {
    float: right;
}

.sortable thead tr th{
    cursor: pointer;
}
.sortable thead tr th:last-child{
    cursor: default;
}
.sortable tbody tr td:last-child .btn-group{
    text-align: center;
}

.sortable tbody tr td:last-child .btn-group ul{
    text-align: left;
}

.sortable tbody tr td.sorted{
    font-weight: 500;
}


body {
    background: url("/img/light_wool.png");
}
body div.container {
    background: #f7f6f5;
}
body div.container header {
    background: #343434;
    border-top: 6px solid #e64d2c;
    padding-bottom: 15px;
    -webkit-box-shadow: 3px 3px 3px #343434;
    -moz-box-shadow: 3px 3px 3px #343434;
    -ms-box-shadow: 3px 3px 3px #343434;
    -o-box-shadow: 3px 3px 3px #343434;
    box-shadow: 3px 3px 3px #343434;
}
body div.container header a img {
    width: 400px;
}
body div.container header span.sub-title {
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
    position: relative;
    top: 26px;
}
body div.container section.content {
    min-height: 200px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 3px #eaeaea;
    -moz-box-shadow: 3px 3px 3px #eaeaea;
    -ms-box-shadow: 3px 3px 3px #eaeaea;
    -o-box-shadow: 3px 3px 3px #eaeaea;
    box-shadow: 3px 3px 3px #eaeaea;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding: 50px;
}

body div.container footer {
    height: 60px;
}
body div.container footer div.info span {
    display: block;
    margin-top: 10px;
    font-size: 10px;
    line-height: 8px;
    color: #aea79f;
}
body div.container footer div.info span a {
    color: #000;
    margin-left: 5px;
}
body div.container footer .span2 img {
    margin-top: 10px;
    width: 200px;
}

ul.sites {
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}

ul.sites li {
    line-height: 15px;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

ul.sites li a {
    display: inline-block;
    margin-left: 5px;
}

span.status {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url('/img/status.png') -15px 0px no-repeat;
    line-height: 15px;
}

span.up {
    background-position: -30px 0px;
}

span.down {
    background-position: 0px 0px;
}

td.center {
    text-align: center;
}

li.pages {
   text-align: center;
}

p.totals span {
    float: right;
}


/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
 * Image replacement
 */

.ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
}

.ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
        display: none !important;
        visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
        visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
}

.clearfix:after {
        clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
        *zoom: 1;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     Theses examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
        /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
             only screen and (min-resolution: 144dpi) {
        /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid required HTTP connection: h5bp.com/r
     ========================================================================== */

@media print {
        * {
                background: transparent !important;
                color: #000 !important; /* Black prints faster: h5bp.com/s */
                box-shadow:none !important;
                text-shadow: none !important;
        }

        a,
        a:visited {
                text-decoration: underline;
        }

        a[href]:after {
                content: " (" attr(href) ")";
        }

        abbr[title]:after {
                content: " (" attr(title) ")";
        }

        /*
         * Don't show links for images, or javascript/internal links
         */

        .ir a:after,
        a[href^="javascript:"]:after,
        a[href^="#"]:after {
                content: "";
        }

        pre,
        blockquote {
                border: 1px solid #999;
                page-break-inside: avoid;
        }

        thead {
                display: table-header-group; /* h5bp.com/t */
        }

        tr,
        img {
                page-break-inside: avoid;
        }

        img {
                max-width: 100% !important;
        }

        @page {
                margin: 0.5cm;
        }

        p,
        h2,
        h3 {
                orphans: 3;
                widows: 3;
        }

        h2,
        h3 {
                page-break-after: avoid;
        }
}
