{{define "content"}}
	<h3>Email Notification List for {{.Site.Name}}</h3>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Websites
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/add">
								Add
							</a>
						</li>
						<li>
							<a href="/admin">
								View All
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="/settings">Settings</a></li>
				<li class="divider-vertical"></li>
				<li><a href="/auth/out">Logout</a></li>
			</ul>
		</div>
	</div>
	<form class="form-inline" method="post" action="/addNotifier">
		Add An Email Recipient
		<input type="hidden" name="parentID" value="{{.Site.ID}}" />
		<input type="text" name="name" class="input-small" placeholder="Name" required />
  		<input type="email" name="email" class="input-small" placeholder="Email" required />
  		<button type="submit" class="btn">Add</button>
	</form>
	{{with .Notifiers}}
		<table class="table table-bordered table-condensed table-striped table-hover sortable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					<tr>
						<td>{{.Name}}</td>
						<td>{{.Email}}</td>
						<td>
							<div class="btn-group">
								<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
									Action
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/TestSend/{{.ParentID}}/{{.ID}}">Test</a></li>
									<li><a href="#" class="delete-notifier" data-key="{{.ID}}" data-parent="{{.ParentID}}">Delete</a></li>
								</ul>
							</div>
						</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	{{else}}
		<div class="alert alert-info">
			<button class="close" type="button" data-dismiss="alert">x</button>
			<h4>Heads up!</h4>
			We currently don't have any Notifiers to display
		</div>
	{{end}}
 {{end}}