{{define "content"}}
	<h3>Outgoing Email Settings</h3>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Websites
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/add">
								Add
							</a>
						</li>
						<li>
							<a href="/admin">
								View All
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="/settings">Settings</a></li>
				<li class="divider-vertical"></li>
				<li><a href="/auth/out">Logout</a></li>
			</ul>
		</div>
	</div>

	{{with .Error}}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4>Warning!</h4>
			{{.}}
		</div>
	{{end}}
	<form class="form-horizontal" action="/settings" method="post">
		<div class="control-group">
			<label for="server" class="control-label">Server Address</label>
			<div class="controls">
				<input id="server" name="server" placeholder="Enter the Server Address" type="text" {{if .Settings.Server}} value="{{.Settings.Server}}" {{end}} />
			</div>
		</div>
		<div class="control-group">
			<label for="email" class="control-label">Email Address</label>
			<div class="controls">
				<input id="email" name="email" placeholder="Enter the email address" type="email" {{if .Settings.Email}} value="{{.Settings.Email}}" {{end}} />
			</div>
		</div>
		<div class="control-group">
			<label for="username" class="control-label">Username</label>
			<div class="controls">
				<input id="username" name="username" placeholder="Enter username" type="text" {{if .Settings.Username}} value="{{.Settings.Username}}" {{end}} />
			</div>
		</div>
		<div class="control-group">
			<label for="password" class="control-label">Password</label>
			<div class="controls">
				<input id="password" name="password" placeholder="Enter password" type="password" {{if .Settings.Password}} value="{{.Settings.Password}}" {{end}} />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Require SSL</label>
			<div class="controls">
				<label class="radio">
				  <input type="radio" name="ssl" id="ssl1" value="true" {{if .Settings.SSL}} checked {{end}}>
				  Yes
				</label>
				<label class="radio">
				  <input type="radio" name="ssl" id="ssl2" value="false" {{if not .Settings.SSL}} checked {{end}}>
				  No
				</label>
			</div>
		</div>
		<div class="control-group">
			<label for="port" class="control-label">Port</label>
			<div class="controls">
				<input id="port" name="port" placeholder="Enter the port number" type="number" {{if .Settings.Port}} value="{{.Settings.Port}}" {{end}} />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Save" />
			</div>
		</div>
	</form>  
{{end}}