{{define "content"}}
	<h3>Status of CURT Services</h3>
	{{with .Sites}}
		<table class="table">
			<thead>
				<tr>
					<th>Status</th>
					<th>Site</th>
					<th>URL</th>
					<th>As Of</th>
					<th>Uptime</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					{{if .Public}}
						<tr>
							<td><span class="status {{.Status.Status}}" title="{{.Status.Status}}"></span></td>
							<td><a href="{{getDomain .URL}}" target="_blank">{{.Name}}</a></td>
							<td>{{getDomain .URL}}</td>
							<td>{{if not .Status.Checked.IsZero}}{{formatDate .Status.Checked}}{{else}}Never{{end}}</td>
							<td>{{formatDecimal .Status.Percent}} ({{.LogDays}} days)</td>
						</tr>
					{{end}}
				{{end}}
			</tbody>
		</table>
	{{end}}
{{end}}