{{define "content"}}
	<h2>Login</h2>
	{{with .Error}}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4>Warning!</h4>
			{{.}}
		</div>
	{{end}}
	<form action="/auth" method="post">
		<label for="username">
			<input id="username" name="username" placeholder="username" type="text" />
		</label>
		<label for="password">
			<input id="password" name="password" placeholder="password" type="password" />
		</label>
		<input type="submit" value="Login" />
	</form>  
{{end}}